version: 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  test_and_build:
    description: "Setup the application and run the tests"
    executor: win/default
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-packages-v1-{{ checksum "api/api.csproj" }}
      - run:
          name: "Install project dependencies"
          command: dotnet restore
      - save_cache:
          paths:
            - C:\Users\circleci\.nuget\packages
          key: dotnet-packages-v1-{{ checksum "api/api.csproj" }}

      - run:
          name: "Run application tests"
          command: dotnet test --filter "api.test"

      - run:
          name: "Build the application"
          command: dotnet build

      - persist_to_workspace:
          root: ~/repo
          paths: .

  deploy-production:
    executor: win/default
    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Deploy application
          command: dotnet lambda package --configuration release --framework netcoreapp3.1 --output-package bin/release/netcoreapp3.1/deploy-package.zip

workflows:
  build-and-test:
    jobs:
      - test_and_build
      - deploy-production:
          requires:
            - test_and_build
