 version: 2.1

 orbs:
  win: circleci/windows@2.2.0

 jobs:
   build:
    description: build the application
    executor: win/default     
    
     steps:
       - checkout
       - run: dotnet build

workflows:
  build-and-test:
    jobs:
      - build
