version: 2.1

orbs:
    win: circleci/windows@2.2.0

jobs:
  test:
    description: "Setup the application and run the tests"
    executor: win/default
    steps:
      - checkout

  build:
    description: Build the application
    executor: win/default     
    
    steps:
       - checkout
       - run: dotnet build

workflows:
  build-and-test:
    jobs:
      - test
      - build:
          requires:
            - test
